* {
    font-size: 22px;
    font-family: "Rounded Mplus 1c";
}

.list-info {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.li-list {
    display:inline-flex;
    background-color: #0055FF;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    margin: 15px 0;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    
}

.del-li {
    background-color: #0AA;
    padding: 50px 0;
}
.li-list p{
    padding: 50px 0;
}

.fix-text{
    background-color: #F00;
    padding: 50px 0;
}

.modify-li {
    background-color: rgb(255, 81, 0);
    padding: 50px 0;
}