* {
    font-size: 22px;
    font-family: "Rounded Mplus 1c";
}

.header-list {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.header-list{
    margin: 1% 1%;
}
.header-list #add-btn {
    padding: 1% 1%;
    background-color: rgb(185, 6, 221);
}

.header-list #allclear-btn {
    padding: 1% 1%;
    background-color: rgba(247, 0, 0, 0.425);
}

.header-list #message-txt {
    padding: 1% 1%;
    background-color: rgba(15, 4, 112, 0.568);
}

.list-info {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.li-list {
    display:inline-flex;
    background-color: #0055FF;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    margin: 15px 0;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    
}

.del-li {
    background-color: #0AA;
    padding: 50px 0;
}
.li-list p{
    padding: 50px 0;
}

.fix-text{
    background-color: #F00;
    padding: 50px 0;
}

.modify-li {
    background-color: rgb(255, 81, 0);
    padding: 50px 0;
}